<div class="search-page search-content-4">

  <h1 class="page-title"></h1>

  <div class="search-bar bordered">
    <div class="row">
      <div class="col-lg-8">
        <div class="input-group">
          <input [(ngModel)]="title" (keyup)="search($event.target.value)" type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn green-soft uppercase bold" type="button">Search</button>
          </span>
        </div>
      </div>
      <div class="col-lg-4 extra-buttons">
        <button (click)="search('')" class="btn grey-steel uppercase bold" type="button">Reset Search</button>
        <button (click)="productListModal.show()" class="btn grey-cararra font-blue" type="button">Add new</button>
      </div>
    </div>
  </div>

  <div *ngIf="!load && productLists?.length == 0" class="panel panel-info">
    <div class="panel-body"> No matching results </div>
  </div>

  <product-list (productListDeleted)="onProductListDelete($event)" *ngFor="let productList of productLists | paginate : pageConfig" [productList]="productList" [productListModal]="productListModal">

  </product-list>

  <div *ngIf="load" class="row">
    <div class="col-md-12 text-center">
      <div class="loading-message "><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
    </div>
  </div>

  <pagination-template *ngIf="productLists?.length > 0" #p="paginationApi"
                       [id]="pageConfig.id"
                       (pageChange)="getPage($event)">

    <div class="search-pagination">
      <ul class="pagination">
        <li *ngFor="let page of p.pages" [class.page-active]="p.getCurrent() === page.value">
          <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
            {{ page.label }}
          </a>
          <a *ngIf="p.getCurrent() === page.value">
            {{ page.label }}
          </a>
        </li>
      </ul>
    </div>

  </pagination-template>

</div>

<product-list-modal (productListSaved)="addList($event)" #productListModal></product-list-modal>
